<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Portal Estudiantil - SisInfo</title>
</head>
<body>
    <h1>Hola, {{username}} 📚</h1>
    <p>Bienvenido al sistema de autogestión de alumnos.</p>
    
    <ul>
        <li><a href="#">Inscribirse a materias (Próximamente)</a></li>
        <li><a href="#">Ver mi analítico y notas (Próximamente)</a></li>
    </ul>

    <a href="/logout">Cerrar Sesión</a>
</body>
</html>